<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionName="1.0.0" package="com.t3hh4xx0r.addons">
    <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application>
         <activity android:name=".nightlies.Nightlies" android:label="@string/nightlies_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            </activity>
        <activity android:name=".com.t3hh4xx0r.utils.fileutils.FileUtils" android:label="@string/utils_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".Addons" android:label="@string/addons_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
		<service android:name="com.t3hh4xx0r.utils.fileutils.DownloadService"></service>
    </application>
</manifest>
